html{
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ZxiVVRW/triangle-polygon-loop-06-love-seamless-looping-background-of-triangles_v1sauero__F0000.png"); 
}
body {

	margin-left: auto;
	text-align: left; /* IE */
    margin-right: auto;
    text-align: left;   /* IE */
    width: 800px;         /* Fill this out. */

	background-color: white;
    border: 20px solid white;
    padding: 15px;

}

span{
	color: black;
}

p{
 	padding: 10px;
	padding-left: 60px;
	position: relative;
	font-family: "Roboto", Arial, sans-serif;
}
h2{
	padding: 6px;
	font-family: "Roboto", Arial, sans-serif;
	border-bottom: 2px solid #288ce4;
 	background-color: lightgrey;
}
h4{
	color: #288ce4;
	font-weight: bold;
	font-family: "Roboto", Arial, sans-serif;
}
article{
	border: 2px solid black;
	padding: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
 	border-radius: 6px;
}