<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>IIT Student Event Creation Hub</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
	<h1>
		IIT Student Event Creation Hub
	</h1>
	<h3>
		This is a IIT Student Event Creation Website. 
		<br>
		<br>
		Want to organize an event with IIT students? 
		<br>
		Need a ride to go somewhere ASAP? 
		<br>
		Here you can make a post to ask your fellow schoolmates to help you out.
		
		<br>
		<br>
		Below you can select the date and time of your event as well as a message describing the event.
	</h3>
	
	<header>
		<form action="store" method="POST">
			<input type="date" name="date">
			<input type="time" name="time">
			<br>
			<textarea placeholder="Post contents" name="body" rows=6 cols=40></textarea>
			<br>
			<input type="submit" name="post" value="Post">
		</form>
	</header>
	
	<hr>
	
	
	<nav>
	</nav>
	
	<main>
		{% for post in posts %}
		
		<article>
			<h4>
				<img src=https://i.imgur.com/d0UBT.png width=50/ height=50/>
				<!-- Username -->
				{{ post[0]}} 
				<span class="bullet time-ago-bullet" aria-hidden="true">•</span>
				<a>
					<!-- Time of post -->
					{{ post[2] }}
				</a>
			</h4>
			
			
			<p> 
				<!-- This is where the post body goes -->
				{{ post[1] }}
			</p>
			
		</article>
		<br>
		{% endfor %}
		
	</main>
	
	<footer>
		<br/>
			©Copyright 2050 by nobody. All rights reversed.
	</footer>
	
</body>



</html>